/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* @import "reset.css"; */


* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header > h1 {
  font-size: 45px;
  font-family: inherit;
}

.header_div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

label, input {
  display: block;
}



.header_div > .button_navigation {
  justify-self: right;
  align-self: flex-end;
  justify-content: right;
  justify-items: right;
  align-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
