
<% if type==:new%>
  <% action_url = bands_url %>
<% else %>
  <% action_url = band_url(band) %>
<% end %>


<form action="<%=action_url%>" method="POST">
  <% if type == :edit %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>
  <%= auth_token %>

  <p>
    <label for='band_name'>Name</label>
    <input id='band_name' type="text" name="band[name]" value="<%=band.name%> ">
  </p>

  <input type="submit" value="<% type=edit ? "Update" : "Create" %>" >


</form>