<h1>Log in to an existing account</h1>

<form action="<%=session_url%>" method="POST">
  <%= auth_token %>

  <label>Email: 
    <input type="text" name="user[email]">
  </label>

  <br>

  <label>Password: 
    <input type="text" name="user[password]">
  </label>

  <br>

  <input type="submit" value="Log In!">


</form>