.main-nav {

}

.left-nav > ul,
.right-nav > ul {

}

.left-nav {

  > ul {
    > li {

    }
  }

  span {

  }
}

.right-nav  {

  > ul {

    > li {
  
    }

    > li:last-of-type {
  
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover{
  color: lightgray;
}
.right-nav > ul > li:last-of-type:hover {
  background-color: #004558;
  border: #020241;
  color: navajowhite;
}








