
<section class="masthead">
  <nav class="language-nav" >
    <a href="/css">CSS</a>
    <a href="/html">HTML</a>
    <a href="/js">JAVASCRIPT</a>
    <a href="/rb">RUBY</a>
  </nav>


  <img src="/assets/AA_Times_Logo.png" class="logo" alt="aa_times_logo">
 
  <ul class="masthead-links">
    <li>
      <%=Date.today.strftime('%A, %B %d %Y')%>
    </li>
    <li>
      <i class="far fa-newspaper"></i>
      <a href="#">Today's Paper</a>
    </li>
    <li>
      <i class="fas fa-video"></i>
      <a href="#">Video</a>
    </li>
    <li><button>
      77˚F
      </button>
    </li>
    <li><button>
    AAO <strong>+100%</strong>
    </button>
    </li>
  </ul>

</section>