<form action="new_cats_url" method="Get">
  <label for="name">Name:
    <input type="text" name="cat[name]">
  </label>

  <label for="sex">Sex:</label>

  <input type="radio" id="male" name="cat[sex]" value="M">
  <label for="male">Male</label><br>

  <input type="radio" id="female" name="cat[sex]" value="F">
  <label for="female">Female</label><br>


</form>